.recruit--wrapper{
    margin-top: -30px;
    background: #e8e8e8;
    padding-top: 50px;

    .recruit--list{
        list-style-type: disc;
    }

    .recruit--img img{
        width: 100%;
    }
}