.booking--wrapper{
    .booking--seat{
        td{
            width: 30px;
            height: 30px;
            border: 5px solid white;
            background-color: #bdc2c7;
        }
    }
}
.seat-picker {
    margin: 0 auto;
  }
  .seat {
    width: 60px;
    height: 60px;
  }
  
  .seat {
    border-radius: 0;
  }
  
  .seat__number {
    font-size: 20px;
  }
  